* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'LuckiestGuy-Regular';
    src: url('./assets/font/Luckiest_Guy/LuckiestGuy-Regular.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'LuckiestGuy-Regular', Arial, Helvetica, sans-serif;
    letter-spacing: 0.35rem;
    font-size: 1.5rem;
    color: white;
    text-shadow: 6px 4px 2px rgba(0, 0, 0, 0.5);
    background-image: url('./assets/img/underwater.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

h1 {
    font-size: 4rem;
    padding: 2rem;
}

canvas {
    background-color: black;
    display: block;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}