* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'LuckiestGuy-Regular';
    src: url('./assets/font/Luckiest_Guy/LuckiestGuy-Regular.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'LuckiestGuy-Regular', Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 32px;
    background-image: url('./assets/img/underwater.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

canvas {
    background-color: black;
    display: block;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}